<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.caresolutions.cordova.fingerprint" version="0.0.1">
  <name>Fingerprint</name>
  <description>Care Solutions Fingerprint Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,care,solutions,fingerprint</keywords>
  <js-module src="www/fingerprint.js" name="fingerprint">
    <clobbers target="fingerprint" />
  </js-module>
  <platform name="android">
    <source-file src="src/android/Fingerprint.java" target-dir="src/com/caresolutions/cordova/fingerprint" />
    <source-file src="src/android/FPMatch.java" target-dir="src/com/fgtit/fpcore" />
    <source-file src="src/android/Conversions.java" target-dir="src/com/fgtit/data" />
    <!-- <lib-file src="src/android/libfpcore.so"/> -->
    <!-- <lib-file src="src/android/libfgtitalg.so"/> -->
    <source-file src="src/android/libfpcore.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/libfgtitalg.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/libconversions.so" target-dir="libs/armeabi-v7a"/>
    <config-file target="config.xml" parent="/*">
      <feature name="Fingerprint">
        <param name="android-package" value="com.caresolutions.cordova.fingerprint.Fingerprint" />
      </feature>
    </config-file>
  </platform>
</plugin>
